.main-container {
    margin-left: 250px;
}

h2 {
    margin-top: 7px;
    margin-left: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #175e88;
}

.current-task-list {
    height: 270px;
    overflow-y: auto;
}

.current-task-list-emp{
    height: 250px;
    overflow-y: auto;
}

.current-task-list::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.dash-controls {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dash-controls-emp {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    margin-left: 47px;
    margin-bottom: 5px;
}

.task-card-emp {
    width: 345px;
    display: flex;
    align-items: center;
    background: #23BEDA;
    color: black;
    padding: 6px 6px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.empTxt {
    margin-left: 20px;
    flex: 1;
    font-size: 1rem;
    color: white;
}

.add-btn-emp {
    margin-right: 20px;
    background: white;
    color: #23BEDA;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.add-btn-emp:has(span.x-icon) {
    font-size: .8rem;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
}

.task-card:hover,
.task-card-emp:hover {
    background: #1CA0C3;
}

.task-card {
    width: 318px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #23BEDA;
    color: black;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.task-text {
    margin-left: 30px;
    flex: 1;
    font-size: 1.5rem;
    color: white;
}

.add-btn {
    margin-right: 30px;
    background: white;
    color: #23BEDA;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.overlay {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 999;
    top: 172.5px;
    width: auto;
}

.overlay-top {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px 7px 2px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 999;
    top: 155px;
    width: auto;
}

.overlay-bottom {
    background-color: #fff;
    border: 1px solid #ccc;        
    padding: 2px 7px 2px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 999;
    top: 214px;
    width: auto;
}

.overlay, .overlay-top, .overlay-bottom p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 8px 0;
    font-size: .7rem;
}

.add-btn:has(span.x-icon) {
    font-size: 1rem;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
}

.add-btn:hover {
    background: #e0e0e0;
    transform: scale(1.1);
}

.add-btn:active {
    transform: scale(0.9);
}

.section{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    /* border: 2px solid black; */
    height: 300px;
}

.notification {
    width: 100%;
    margin-right: 50px;
    /* border: 2px solid black;
    max-height: 270px; */
}

.current-task-and-notifications {
    width: 100%;
    margin-left: 55px;
    /* border: 2px solid black;
    max-height: 270px; */
}